@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather+Sans:ital@1&family=Oleo+Script+Swash+Caps&display=swap');

/* 
font-family: 'Arvo', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive; */

:root {
    --color1: #398aac;
    --color2: #143340;
    --color3: #eeeeee;
    --color4: #000000;
    --color5: #2e2e2e;
    --color6: #0c1f27;
    --transparent: #00000027;
    margin: 0px;
    font-family: 'Merriweather Sans', sans-serif;
}

header {
    width: 60%;
    margin: auto;
}

body {
    background-color: var(--color1);
}

.blue-section {
    background-color: var(--color1);
    height: 40rem;
}

.white-section {
    padding-top: 6rem;
    background-color: var(--color3);
    padding-bottom: 6rem;
}

/*------------PICTURES------------*/
#editora-logo {
    width: 10%;
    margin-left: 1.3rem;
}

#book-picture {
    width: 100%;
}

#book-picture:hover {
    width: 105%;
    transition: 0.5s; 
}

#authors-picture {
    width: 20%;
    border-radius: 100%;
}
/*--------------------------------*/
.check-icon {
    background-color: var(--color2);
    padding: 0.5rem;
    border-radius: 50%;
}

.flex-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 60%;
}

.benefits-form {
    text-align: left;
}

.benefits-form button {
    margin-bottom: 5rem;
}

.benefits-list {
    margin-top: 2rem;
    text-align: justify;
}

.benefits-list li {
    color: var(--color3);
    font-size: 1.3rem;
    font-weight: 600;
    list-style: none;
    margin-bottom: 1rem;
    font-style: italic;
}

.benefits-list li h4 {
    font-size: 1.3rem;
    margin-bottom: 0rem;
}

.benefits-list .bar {
    margin-bottom: 3rem;
}

.btn-warning a {
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
    color: var(--black);
}

.btn-benefit {
    margin-top: 2rem;
    margin-left: 5%;
    font-size: 1.7rem;
}

.bar {
    background-color: var(--transparent);
    height: 0.08rem;
    width: 50%;
    margin-bottom: 5rem;
}

.whale-and-form {
    justify-content: start;
    margin-left: 26rem;
}

.whale-descript {
    max-width: 50%;
    margin-right: 7rem;
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--color5);
}

.whale-descript p {
    text-align: justify;
}

.whale-descript .bar {
    list-style: none;
    text-align: right;
    width: 100%;
    margin-bottom: 1.5rem;
}

.whale-descript h6 {
    text-align: right;
    margin-top: -1.2rem;
}

.whale-descript h6 a {
    text-decoration: none;
    color: var(--color5);
}

.book-submit {
    padding: 3em 4.5em 3em 2em;
    background-color: var(--color1);
    border-radius: 8%;
    box-shadow: -10px 8px ;
}

.book-submit h6 {
    text-align: left;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.1rem;
    color: var(--color4);
}

.book-submit-input {
    margin-bottom: 1rem;
    width: 120%;
}

.book-submit button {
    margin-top: 1rem;
}

.author-division {
    border: 5px solid rgb(227, 227, 227);
    border-radius: 3%;
    display: block;
    margin-top: 8rem;
    padding: 3rem;
    box-shadow: -10px 8px var(--transparent);
}

.author-descript p {
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--color5);
    margin-top: 1rem;
    text-align: justify;
}

.author-medias {
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
}

.author-medias a {
    color: var(--color1);
    font-size: 2.5rem;
    margin-right: 2rem;
}

.author-medias:hover a {
    font-size: 2.7rem;
    transition: 0.5s;
}

.author-medias a:hover {
    font-size: 3rem;
    transition: 0.3s;
} 

footer {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: var(--color2);
    color: var(--color3);
}

footer .col-lg-3 {
    text-align: center;
    justify-content: center;
    padding-bottom: 2rem;
}

footer .col-lg-3 h5 {
    font-weight: bold;
    font-size: 1.3rem;
}

footer .col-lg-3:hover h5 {
    font-size: 1.5rem;
    transition: 0.3s;
}

footer .col-lg-3 li {
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
}

footer .col-lg-3 li a {
    text-decoration: none;
    color: var(--color3);
    padding: 0.4rem;
    border-radius: 10px;
}

footer .col-lg-3 li a:hover {
    background-color:var(--color6);
    transition: 0.3s;
    font-size: 1.3rem;
}

footer p {
    text-align: center;
    justify-content: center;
    padding-top: 0.6rem;
    font-size: 1rem;
    font-weight: bold;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    header {
        width: 100%;
        margin: auto;
    }
  
    .blue-section {
        background-color: var(--color1);
        height: 23rem;
    }
    
    .white-section {
        padding-top: 36rem;
        background-color: var(--color3);
        padding-bottom: 6rem;
    }
    
    /*------------PICTURES------------*/
    #editora-logo {
        width: 15%;
        margin-left: 1rem;
    }
    
    #book-picture {
        width: 80%;
        margin: auto;
    }

    #book-picture:hover {
        width: 80%;
        transition: 0.5s; 
    }
    
    #authors-picture {
        width: 40%;
        border-radius: 100%;
    }
    /*--------------------------------*/
    .check-icon {
        background-color: var(--color2);
        padding: 0.5rem;
        border-radius: 100%;
        color: var(--color3);
    }
    
    .flex-container {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0px;
        width: 100%;
    }

    .benefits-and-book {
        flex-direction: column-reverse;
    }

    .benefits-form {
        text-align: justify;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .benefits-form button {
        margin: auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
        width: 50%;
        
    }
    
    .benefits-list {
        margin: auto;
        text-align: justify;
        padding-left: 0;
        width: 90%;
    }
    
    .benefits-list li {
        color: var(--color6);
        font-size: 1.3rem;
        font-weight: 600;
        list-style: none;
        margin-bottom: 1rem;
        font-style: italic;
    }
    
    .benefits-list li h4 {
        display: none;
    }

    .benefits-list .bar {
        display: none;
    }
    
    .btn-warning a {
        font-family: 'Merriweather Sans', sans-serif;
        text-decoration: none;
        color: var(--black);
        font-size: 1.3rem;
    }
    
    .whale-and-form {
        display: flex;
        flex-direction: column;
        justify-content:center;
        margin-left: 0;
    }
    
    .whale-descript {
        max-width: 90%;
        margin: auto;
        margin-bottom: 3rem;
    }
    
    .book-submit {
        padding: 1em 0em 1em 0em;
        background-color: var(--color1);
        border-radius: 8%;
        box-shadow: -10px 8px var(--transparent);
        width: 80%;
        margin: auto;
    }
    
    .book-submit h6 {
        text-align: center;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 1.2rem;
        color: var(--color6);
        width: 60%;
        margin: auto;
        margin-bottom: 0.5rem;
    }
    
    .book-submit-input {
        margin-bottom: 1rem;
        width: 80%;
        border: 1px solid var(--color6);
        border-radius: 10px;
    }
    
    .book-submit button {
        margin-top: 0rem;
    }
    
    .author-division {
        border: 5px solid rgb(227, 227, 227);
        border-radius: 3%;
        display: block;
        padding: 1rem;
        width: 90%;
        margin: auto;
        margin-top: 5rem;
        box-shadow: none;
    }
    
    .author-descript p {
        font-family: 'Merriweather Sans', sans-serif;
        color: var(--color5);
        margin-top: 1rem;
        text-align: justify;
    }
    
    .author-medias {
        text-align: center;
        justify-content: center;
        margin: auto;
        margin-top: 2rem;
    }
    
    .author-medias a {
        color: var(--color1);
        font-size: 2.5rem;
        margin: 1rem;
    }
    
    .author-medias:hover a {
        font-size: 2.7rem;
        transition: 0.5s;
    }
    
    .author-medias a:hover {
        font-size: 3rem;
        transition: 0.3s;
    }

    footer {
        padding-top: 3rem;
        padding-bottom: 2rem;
        background-color: var(--color2);
        color: var(--color3);
    }

    .row {
        width: 90%;
        margin: auto;
    }
    
    footer .col-lg-3 {
        text-align: center;
        justify-content: center;
        padding-bottom: 2rem;
        width: 100%;
    }
    
    footer p {
        text-align: center;
        justify-content: center;
        padding-top: 0.6rem;
        font-size: 1rem;
        font-weight: bold;
    } 
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    body {
        background-color: blue;
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    body {
        background-color: green;
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        background-color: white;
    }
}